.LBD_CaptchaDiv {
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
}

.LBD_CaptchaImageDiv {
  margin: 0 !important;
  padding: 0 !important;
  display: -moz-inline-stack;
  display: inline-block !important;
  vertical-align: top !important;
  overflow: hidden !important;
  zoom: 1 !important;
  *display: inline !important;
}

.LBD_CaptchaIconsDiv {
  text-align: left !important;
  margin: 0 2px -4px 2px !important;
  padding: 0 !important;
  display: -moz-inline-stack;
  display: inline-block !important;
  vertical-align: top !important;
  zoom: 1 !important;
  *display: inline !important;
}

.LBD_CaptchaDiv a:link, .LBD_CaptchaDiv a:visited, .LBD_CaptchaDiv a:focus, .LBD_CaptchaDiv a:hover, .LBD_CaptchaDiv a:active {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  vertical-align: top !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-outline-style: none !important;
  display: -moz-inline-stack;
  display: inline-block !important;
  zoom: 1 !important;
  *display: inline !important;
}

.LBD_CaptchaImageDiv a:focus {
  outline: 1px dotted #333 !important;
  margin: -1px !important;
}

.LBD_CaptchaDiv a img {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

.LBD_CaptchaDiv a:focus img, .LBD_CaptchaDiv a:active img {
  border: 1px dotted #333 !important;
  margin: -1px !important;
}

.LBD_CaptchaIconsDiv a:link, .LBD_CaptchaIconsDiv a:visited, .LBD_CaptchaIconsDiv a:hover {
  margin: 1px 2px 4px 2px !important;
}

.LBD_CaptchaIconsDiv a.LBD_ReloadLink {
  display: none !important;
}

.LBD_Placeholder {
  visibility: hidden !important;
  width: 0 !important;
  height: 0 !important;
}

*html .LBD_Placeholder {
  display: none !important;
}

*:first-child+html .LBD_Placeholder {
  display: none !important;
}

.LBD_Warning {
  font-size: 12px !important;
  color: red !important;
}

.LBD_CaptchaInfo {
  padding: 5px 10px 10px 10px !important;
  margin: 10px 5px 15px 5px !important;
  overflow: visible !important;
  border: 1px solid #ddd !important;
  font-family: Courier !important;
  font-size: 12px !important;
  color: #666 !important;
}

.LBD_CaptchaInfo legend {
  padding: 0 5px !important;
  margin: 0 !important;
  color: #999 !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink {
  padding: 0 !important;
  position: relative !important;
  z-index: 24 !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink span {
  display: none !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink:hover, .LBD_CaptchaDiv a.LBD_DisabledLink:focus {
  z-index: 25 !important;
  cursor: help !important;
  font-size: 100% !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink:hover span {
  display: block !important;
  z-index: 9999 !important;
  position: absolute !important;
  top: 0 !important;
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd !important;
  color: #f00 !important;
  left: 30px !important;
  width: 250px !important;
  padding: 9px 6px 6px 11px !important;
  font-size: 11px !important;
  filter: alpha(opacity:90) !important;
  KHTMLOpacity: 0.90 !important;
  MozOpacity: 0.90 !important;
  opacity: 0.90 !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink:focus img {
  border: 1px solid transparent !important;
}

.LBD_CaptchaDiv a.LBD_DisabledLink span em {
  display: block !important;
  padding: 0 5px 5px 0 !important;
  margin: 0 !important;
  font-style: normal !important;
}

.LBD_CaptchaDiv .LBD_CaptchaImageDiv span.LBD_ProgressIndicator {
  color: black;
}