body {
	background-image: url(sysImg/fondo.png);
	background-repeat: repeat;
	font-family:Verdana, Geneva, sans-serif;
}


/*----------- LOGIN -------------*/
.centrarLogin{
	position: absolute;
	top:50%;
	left:50%;
	width:500px;
	margin-left:-300px;
	height:141px;
	margin-top:-300px;
	/*border:1px solid #808080;*/
}
.bloque_titulo_apps{
	width: 495px;
	height:25px;
	background-color:#747678;
	color:#FFF;
	padding:8px 0px 0px 5px;
	border-bottom:#FFF 2px solid;
	font-weight:bold;
	
}
.bloque_izq{
	width:75px;
	height:141px;
	background-color:#747678;
	float:left;
}

.textLogin{
	color:#FFF;
	
	font-weight: bold;
	font-size:14px;
	text-align: right;
	margin-top:115px;
	/*line-height: 100px;*/
}
.bloque_med{
	width:2px;
	height:141px;
	float: left;
}
.bloque_der{
	width:423px;
	height:141px;
	background-color:#d0cdca;	
	float:left;	
}
.objLogin{
	color:#000;
	
	font-size:12px;
	text-align:center;
	margin-top:45px;
	/*line-height: 100px;*/
}
.botonEntrar{
	border: 1px solid #8f8f90;
	background: #747678;
	color:#FFF;
	font-size:11px;
	text-align:center;
	width:110px;
	margin-top:20px;
}

.textBoxA{
	border: 1px solid #FFF;
	background: #FFFF;
	color:#747678;
	
	font-size:11px;
	text-align: left;
	width:226px;
}

.textBoxB{
	border: 1px solid #FFF;
	background: #FFFF;
	color:#747678;
	
	font-size:11px;
	text-align: left;
	width:200px;
}
.textoNota{
	color:#000;
	
	font-size:11px;
	text-align: justify;
	width:400px;

	padding-left:50px;
	
/*	margin-top:45px;*/
	/*line-height: 100px;*/
}

.errorMsg{
	background-color:#FFFFFF;
	color:#FF0000;
	
	font-size:11px;
	height:12px;
	border: 1px solid #FF0000;
	padding:5px;
}
.lineaHorizontal{
	width:500px;
	height:2px;
	background-color:#C30;
	float: left;
	margin-top:10px;
	margin-bottom:10px;
}

/*----------- FRM_USR ----------------*/

.centrarFichaUsr{
	position: absolute;
	top:10px;
	left:50%;
	width:700px;
	margin-left:-350px;
	height: auto;
	/*border:1px solid #808080;*/
}

.bloque_cont{
	width: 700px;
	height:290px;
	background-color:#dad8d7;	
	float:left;	
}
.bloqueFotoA{
    border:solid 1px #7b7a79;
    width:96px;
    height:96px;
	float: left;
	margin-bottom:10px;
	margin-top:30px;
	margin-left:10px;
}
.bloqueFotoB{
    border:solid 1px #7b7a79;
    width:96px;
    height:96px;
	float: left;
	margin-bottom:10px;
	margin-top:20px;
	margin-left:10px;
}

.bloqueTextoA{
    border:solid 1px #dad8d7;
    width:530px;
    height:96px;
	margin-bottom:10px;
	margin-top:30px;
	margin-left:130px;
}

.bloqueTextoB{
    border:solid 1px #dad8d7;
    width:530px;
    height:96px;
	margin-bottom:10px;
	margin-top:20px;
	margin-left:130px;
}

.botonSubir{
	border: 2px;
	border-style: double;
	border-color:#FFF;
/*	background: #747678; */
	background: #0C0; 
/*	background: #95cd3c; */
	color:#FFF;
	font-weight:bold;
	font-size:8pt;
	text-align:center;
	width: 310px ;
	height:20px;
}

.tituloMediano{
	color:#7b7a79;
	font-size:14px;
}

.botonSalir{
	border: 2px;
	border-style: double;
	border-color:#FFF;
	background: #747678;
	color:#FFF;
	font-weight:bold;
	font-size:11px;
	text-align:center;
	width:110px;
	height:20px;
}

.lineaHorizontalFichaUsr{
	width:700px;
	height:2px;
	background-color:#C30;
	float: left;
	margin-bottom:10px;
}

.textoNotaFichaUsr{
	color:#000;
	
	font-size:11px;
	text-align: justify;
	width:400px;
	padding-left:25px;
	padding-top:10px;

}

/*----------- upload_crop ----------------*/
.bloque_contUC{
	width: 800px;
	height: auto;
	background-color:#dad8d7;
	padding:10px;	
	float:left;	
}

.bloqueFotoOriginal{
    border:solid 1px #7b7a79;
    width:auto;
    height:auto;
	float: left;
	margin-bottom:10px;
	margin-top:30px;
	margin-left:10px;
}

.bloqueTextoVistaPrev{
    border:solid 1px #dad8d7;
    width:96px;
    height:96px;
	margin-bottom:10px;
	margin-top:30px;
	margin-left:130px;
}

.textoNotaUC{
	color:#000;
	font-size:11px;
	text-align: justify;
	/*width:96px;*/
/*	padding-left:25px;
	padding-top:10px;*/
}

.botonesUC{
	border: 2px;
	border-style: double;
	border-color:#FFF;
/*	background: #747678; */
	background: #0C0; 	
	color:#FFF;
	font-weight:bold;
	font-size:11px;
	text-align:center;
}

.examinarUC{
	border: 2px;
	border-style: double;
	border-color:#FFF;
	background: #FFFF;
	color:#747678;
	font-weight:bold;
	font-size:11px;
	text-align:center;
	width:500px;
}
.bloqueDerechaUC{
position:absolute;
left:523px; 
top:220px; 
width:175px; 
height:490px; 
z-index:2;
border : 1px solid black;
/*background-color: black; */
}

.lineaHorizontalUC{
	width:820px;
	height:2px;
	background-color:#C30;
	float: left;
	margin-bottom:10px;
}
.centrarUC{
	position: absolute;
	top:10px;
	left:50%;
	width:800px;
	margin-left:-350px;
	height: auto;
	/*border:1px solid #808080;*/
}